
<div id="UsertoOpac">
    <div class="opacVisalinksBlock">
        <b>» Finns boken att låna i: </b>
        <a href="#" class="userToOpacSearch_link" data-isbn="">Bollebygd</a><br>
        <a href="#" class="userToOpacBytbibl_link" data-isbn="">» Välj bibliotek
            att låna ifrån</a> (version 3 beta)
    </div>
    <div id="opacDrpdownBlock" style="display: block;">
        <label for="userToOpacval_drp">Välj biblioteket i </label>
        <select id="userToOpacval_drp">
            <option value="Ale">Ale</option>
        </select>
    </div>
</div>